<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLIDE</title>
    <link rel="shortcut icon" href="../img/SHELL.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blaka&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/slide.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/slide.js"></script>
</head>
<body>
    <section class="background_black">
        <div class="position-left font font_white font_right ani_left">
            <p>Evangelion</p>
            <p>エヴァンゲリオン</p>
            <a href="https://www.evangelion.co.jp/" class="font_white" target="_blank">HOME</a>
        </div>
        <img src="../img/NERV.png" class="size position-right"/>
    </section>
    <section class="background_beige">
        <img src="../img/SlamDunk_Image.png" class="size position-left"/>
        <div class="position-right ani_right">
            <a href="https://slamdunk-movie.jp/ko/index.html" target="_blank">
                <img src="../img/SlamDunk_Text.png" class="size"/>
            </a>
        </div>
    </section>
    <section>
        <div class="position-left font font_red font_right ani_left_out">
            <p class="font_style1">ANGRY BIRDS</p>
            <p class="font_style2">앵그리 버드</p>
            <a href="https://www.angrybirds.com/" class="font_red" target="_blank">HOME</a>
        </div>
        <img src="../img/AngryBirds.jpg" class="size position-right"/>
    </section>
</body>
</html>