@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Nanum+Pen+Script&display=swap');

html, body {margin: 0; border: 0;}
ul {padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
input:focus {outline: none;}
input, textarea, button {appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;}

nav {text-align: center; background-color: brown;}
nav ul {margin: 0; display: inline-block;}
nav ul li {display: inline-block;}
nav ul li a {display: block; padding: 10px 20px; font-family: 'Nanum Pen Script', cursive; font-size: 2em; font-weight: bold; color: black; min-width: 90px;}
nav ul li a:hover {background-color: rgb(184, 143, 188); color: rgb(230, 218, 106);}

#input_container, #list_container {width: 400px; margin: 20px calc(50% - 200px);}
#input_container::after {content: ''; clear: both; display: block;}
#input_container input {float: left; border: 0; padding: 0; font-weight: bold;}
#item {width: 297px; height: 18px; background-color: rgb(153, 225, 201); padding-left: 3px !important;}
#add {width: 100px; height: 18px; cursor: pointer;}
#add:hover {background-color: rgb(92, 89, 89); color: white;}

#list_body {cursor: pointer;}
#list_body li {margin: 5px 0;}
#list_body li:nth-child(even):hover {background-color: rgb(154, 205, 50);}
#list_body li:nth-child(odd):hover {background-color: rgb(205, 187, 50);}